.property-attribute {
    /* Center the text */
    text-align: center;
    /* Add horizontal padding to the text */
    padding: 0 0.6225rem;
    /* Set the font size of the text */
    font-size: 1rem;
    /* Set the line height for better readability */
    line-height: 1.4;
}

p {
    margin: 0.3125rem;
}