.banner {
    /* Set the banner background color to red */
    background-color: #dc3545;
    /* Set the text color to white */
    color: white;
    /* Add padding inside the banner */
    padding: 0.3125rem;
    /* Set the font-size of the text */
    font-size: 0.875rem;
    /* make the text bold */
    font-weight: bold;
    /* Add a shadow to the banner */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    /* Position the banner absolutely within the card */
    position: absolute;
    /* Rotate the banner */
    transform: rotate(-45deg);
    /* Position the banner 1rem from the top */
    top: 1rem;
    /* Position the banner 1.5625rem to the left */
    left: -0.65rem;

}