.property-card {
    /* Add a border around the card */
    border: 0.0625rem solid #ddd;
    /* Round the corners of the card */
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem;
    /* Add spacing around the card */
    margin: 1.25rem;
    /* Ensure child elements do not overflow the card */
    overflow: hidden;
    /* Ensure all cards have the same width */
    width: 18.75rem; /* 300px = 18.75rem */
}

.property-info {
    /* Add a semi-transparent background */
    background: rgba(0, 0, 0, 0.7);
    /* Set the text color to white */
    color: #fff;
    /* Set the font size of the text */
    font-size: 0.875rem;
    /* Position the info box within the image */
    position: absolute;
    /* Position the info box from the bottom and right */
    bottom: 0.625rem;
    right: 0.625rem;
    /* Add padding & border radius to improve appearance */
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;

}